* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(202, 44, 78);
  font-family: "Lato", sans-serif;
}
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 25rem;
}
form h2 {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  color: rgb(202, 44, 78);
}
section .input {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
section label {
  text-transform: capitalize;
  margin-left: 1.4rem;
  font-style: italic;
  color: rgb(202, 44, 78);
}
section .input input {
  height: 2.5rem;
  margin-bottom: 1rem;
  border: 1px solid red;
  border-radius: 1.2rem;
  border-color: rgb(202, 44, 78);
  padding: 0.3rem;
  outline: none;
  padding-left: 0.8rem;
}
section .input :first-child {
  background-color: rgb(202, 44, 78);
  color: white;
}
.btn button {
  width: 4rem;
  height: 2.5rem;
  border: 1px solid red;
  margin-left: 1rem;
  margin-bottom: 2rem;
  fill: none;
  color: rgb(202, 44, 78);
  border-radius: 1.2rem;
  padding: 0.3rem;
  border-color: rgb(202, 44, 78);
  background-color: white;
}

input[type="email"]::placeholder {
  color: rgb(202, 44, 78);
}

input[type="text"]::placeholder {
  color: rgb(202, 44, 78);
}
